@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

@keyframes messageDisplay {
    0% {
        background-color: transparent;
    }
    5% {
        background-color: red;
        color: black;
    }
    100% {
        background-color: red;
        color: black;
    }
}

@keyframes imageHover {
    100% {
        transform: scale(5);
        transform-origin: 100% 0%;
        border-radius: 5px;
        box-shadow: inset 0px 0px 15px 0px black;
    }
}

body {
    margin: 0;
    background-color: black;
    color: wheat;
}

p {
    margin: 0;
}

.message-wrapper {
    position: fixed;
    top: 100px;
    margin: 0 auto;
    /* background-color: red; */
    padding: 10px 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.message {
    background-color: transparent;
    color: transparent;
    padding: 10px 30px;
    border-radius: 5px;
    animation-name: messageDisplay;
    animation-duration: 1s;
}

.wrapper {
    position: fixed;
    top: 200px;
    margin: 0 auto;
    /* background-color: black; */
    padding: 10px 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* pointer-events: none; */
}

.onStart {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    padding: 20px;
    border-radius: 15px;
    background-color: darkslategrey;
}

.onStart-figures {
    display: flex;
}

figcaption {
    text-align: center;
    padding-bottom: 5px;
}

.timer-wrapper {
    background-color: darkslategray;
    position: fixed;
    /* top: 0px; */
    left: 0px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.horizontal-bar {
    background-color: darkslategray;
    height: 50px;
    padding: 10px;
    /* opacity: 50%; */
    /* mix-blend-mode: multiply; */
    z-index: 0;
}

.horizontal-bar:hover {
    background-color: darkslategray;
    animation-name: imageHover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    z-index: 2;
}

.timer-images {
    display: flex;
    gap: 20px;
    padding: 10px 20px;
}

.timer {
    padding: 10px 20px;
}

.timer > p {
    font-size: xxx-large;
}

.highScore-form {
    background-color: darkslategray;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: solid 12px seagreen;
    box-shadow: 0px 0px 15px 0px white;
}

.fieldset {
    display: flex;
    padding: 20px;
    gap: 10px;
}

.nameInput {
    background-color: wheat;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 3px;
}
